{% extends "base.html" %}

{% load static %}

{% block searching %}

{% endblock searching %}

{#{% block javascrpt %}#}

    {# JQUERY FILE UPLOAD SCRIPTS #}
{#    <script src="{% static 'js/vendor/jQuery-File-Upload-9.14.1/js/vendor/jquery.ui.widget.js' %}"></script>#}
{##}
{#    <script src="{% static 'js/vendor/jQuery-File-Upload-9.14.1/js/jquery.iframe-transport.js' %}"></script>#}
{##}
{#    <script src="{% static 'js/vendor/jQuery-File-Upload-9.14.1/js/jquery.fileupload.js' %}"></script>#}
{##}
    {# PHOTOS PAGE SCRIPTS #}
{#    <script src="{% static '/js/my/basic-upload.js' %}"></script>#}
{##}
{#    <script src="{% static '/js/my/progress-bar-upload.js' %}"></script>#}

{#{% endblock javascrpt %}#}

{% block content %}
    <div class="container kontent">
        <p class="lead">{{ clinic }}</p>
        {# 1. BUTTON TO TRIGGER THE ACTION #}
        <button type="button" class="btn btn-primary js-upload-photos">
            <span class="glyphicon glyphicon-cloud-upload"></span> Upload profile picture
        </button>

{#    <div class="well text-muted text-center" style="padding-top: 4rem; padding-bottom: 4rem;">#}
{#        <span class="glyphicon glyphicon-arrow-down" style="font-size: 4rem;"></span>#}
{#        <h3>Drop Photos Here to Upload</h3>#}
{#    </div>#}

        {# 2. FILE INPUT TO BE USED BY THE PLUG-IN #}
    <input id="fileupload" type="file" name="photo"
           style="display: none;"
{#               data-url="{% url 'doctor:uploadclinicpicsajax' %}"#}
           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>



    <br><br>
        {% if request.user.profile.photo %}
            {# 3. TABLE TO DISPLAY THE UPLOADED PHOTOS #}
            <table id="gallery" class="table table-bordered">
              <thead>
                <tr>
                  <th>Photo</th>
        {#            <th>Delete</th>#}
                </tr>
              </thead>
              <tbody>

{#        {% for instance in clinic.clinicphotos_set.all %}#}
{#            <tr id="{{ instance.clinic_photo.id }}">#}
{#                <td><a href="{{ instance.clinic_photos_thumbnails_sd }}"><img id="edit_image_sizes" src="{{ instance.clinic_photos_thumbnails_micro }}"></a></td>#}
{#                <td><button class="btn btn-success delt" value="{{instance.id}}">delete</button></td>#}
{#            </tr>#}
{#        {% endfor %}#}


                <tr>
                    <td><a href="{{ request.user.profile.profile_pics_sd }}"><img id="edit_image_sizes" src="{{ request.user.profile.profile_pics_micro }}"></a></td>
                    <td><button data-url="{% url 'doctor:profile_pic_delete_ajax' %}" class="btn btn-success delt" value="{{request.user.profile.photo}}">delete</button></td>
                </tr>
        {% else %}
            <p>you have not uploaded a profile picture yet!!</p>
        {% endif %}


      </tbody>
    </table>

    </div>

        {#    bootstrap modal for uploading photos#}
    <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Uploading...</h4>
          </div>
          <div class="modal-body">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock content%}



{% block jquery %}

    {# JQUERY FILE UPLOAD SCRIPTS #}
    <script src="{% static 'js/vendor/jQuery-File-Upload-9.14.1/js/vendor/jquery.ui.widget.js' %}"></script>

    <script src="{% static 'js/vendor/jQuery-File-Upload-9.14.1/js/jquery.iframe-transport.js' %}"></script>

    <script src="{% static 'js/vendor/jQuery-File-Upload-9.14.1/js/jquery.fileupload.js' %}"></script>

    {# PHOTOS PAGE SCRIPTS #}
{#    <script src="{% static '/js/my/basic-upload.js' %}"></script>#}

    <script src="{% static '/js/my/progress-bar-upload.js' %}"></script>

    <script src="{% static 'js/my/others/upload_doctor_profile_picture.js' %}"></script>

{% endblock jquery %}








